# This file is a template for environment variables. Copy this file to .env and fill in the values.

PORT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=

DEMO_PORT=
DEMO_DB_HOST=
DEMO_DB_PORT=
DEMO_DB_USER=
DEMO_DB_PASSWORD=
DEMO_DB_NAME=
DEMO_JWT_SECRET=