services:
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: markku-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:15
    container_name: markku-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: campaigns
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
volumes:
  postgres_data:
